:root {
    --clr-purple: hsl(259, 100%, 65%);
    --clr-light-red: hsl(0, 100%, 67%);
    --clr-white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('/assets/fonts/poppins-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: italic;
    src: url('/assets/fonts/poppins-bolditalic-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    src: url('/assets/fonts/poppins-extrabold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    font-style: italic;
    src: url('/assets/fonts/poppins-extrabolditalic-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: italic;
    src: url('/assets/fonts/poppins-italic-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('/assets/fonts/poppins-regular-webfont.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    color: var(--off-black);
    background-color: var(--light-grey);
}

.container {
    max-width: min(50rem, 95%);
    margin-inline: auto;
    
    /* For centering only */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--clr-white);
    border-radius: .5rem;
    border-bottom-right-radius: 8rem;
    padding: 2rem;
}

.form {
    margin-bottom: 1rem;
}

.input-group {
   display: flex;
   gap: 1.5rem;
   width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-group input {
    font: inherit;
    color: var(--off-black);
    font-size: 32px;
    font-weight: 800;
    max-width: 12rem;
    padding: .75rem;
    border-radius: .25rem;
    outline: none;
}

.form-group[data-valid-data="false"] label {
    color: var(--clr-light-red);
}

.form-group[data-valid-data="false"] input {
    outline: 2px solid var(--clr-light-red);
}

.form-group[data-valid-data="false"] input:focus {
    outline: 2px solid var(--clr-light-red);
}

.form-group[data-valid-data="true"] label {
    color: var(--off-black);
}

.form-group[data-valid-data="true"] input {
    outline: none;
}

.form-group input:focus {
   outline: 2px solid var(--clr-purple);
}

.form-group label {
    color: var(--smokey-grey);
    text-transform: uppercase;
    letter-spacing: .25ch;
    font-size: .75rem;
    font-weight: 700;
}

.error-message {
    min-height: 16px;
    margin-top: .25rem;
    user-select: none;
}

.error-message[aria-hidden="true"]{
    opacity: 0;
}

.error-message[aria-hidden="false"] {
    color: var(--clr-light-red);
    opacity: 1;
}

.row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.line-break {
    border: 0;
    border-top: 1px solid var(--smokey-grey);
    margin: 1rem 0;
}

.card-button {
    position: absolute;
    right: 0rem;
    z-index: 1;
    isolation: isolate;
    background-color: var(--clr-purple);
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    padding: 1rem;
    margin-left: auto;
    cursor: pointer;
}

.card-button:hover {
    background-color: var(--off-black);
}

.date p {
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
}

.date span {
    color: var(--clr-purple);
}


@media (max-width: 780px) {
    .input-group {
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
}